[mysqld]
general_log = 1
general_log_file = /var/log/mysql/query.log

log-error = /var/log/mysql/error.log
innodb_print_all_deadlocks = 1

slow_query_log = 1
long_query_time = 1 # seconds
slow_query_log_file = /var/log/mysql/slow.log
log_queries_not_using_indexes = 0

character-set-server = utf8 
collation-server = utf8_unicode_ci 
default-time-zone = '+8:00'

[client]
default-character-set = utf8
